<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" ><mapper namespace="com.joe.testdb.module.schedule.mapper.SysJobMapper">    <select id="getSysJobListByStatus" resultType="com.joe.testdb.module.schedule.entity.SysJob">        select * from sys_job        WHERE job_status=1    </select></mapper>